:root {
  --color-black: #0d0d0d;
  --color-gray: #f6f6f6;
  --color-gray-transparent--10: rgba(0, 0, 0, 0.1);
  --color-gray-transparent--15: rgba(0, 0, 0, 0.15);
  --color-gray-transparent--20: rgba(0, 0, 0, 0.2);
  --color-gray-transparent--25: rgba(0, 0, 0, 0.25);
  --color-gray-transparent--40: rgba(0, 0, 0, 0.4);
  --color-gray-light: #c4c4c4;
  --color-gray-dark: #999999;
  --color-green: #30b800;
  --color-red: #cf2c00;
  --color-red-transparent--10: rgba(207, 44, 0, 0.1);
  --color-red-transparent--50: rgba(207, 44, 0, 0.5);
  --color-blue: #0055fb;
  --color-sky-blue: #45a6ff;
  --color-sky-blue-transparent--50: rgba(69, 166, 255, 0.5);
  --color-white: #ffffff;
  --color-white-transparent--0: rgba(246, 246, 246, 0);
  --color-white-transparent--15: rgba(255, 255, 255, 0.15);
}
