.alert {
  background-color: var(--bg-color, var(--color-gray-transparent--10));
  padding: 10px;
  border-radius: 5px;
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "icon title"
    ". text";
}

.alert--warn {
  --title-color: var(--color-red);
  --text-color: var(--color-red-transparent--50);
  --bg-color: var(--color-red-transparent--10);
}

.alert--warn::before {
  content: "";
  grid-area: icon;
  align-self: center;
  width: 24px;
  height: 24px;
  background-image: url("./icon-smile-meh.svg");
}

.alert__title {
  grid-area: title;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  color: var(--title-color);
}

.alert__text {
  grid-area: text;
  margin: 0;
  font-size: 12px;
  color: var(--text-color);
}
